<footer class="bg-stone-800 grid grid-cols-2 py-8 px-12 max-[1000px]:grid-cols-1">
    <div class="text-8xl font-bold text-white grid place-content-center justify-self-end max-[1000px]:justify-self-center">
        <h1>A<span class="text-orange-400">฿</span>OUT</h1>
        <h1>MONEY</h1>
    </div>
    <div class="text-white justify-self-center h-full flex flex-col justify-center py-4">
        <img src="https://avatars.githubusercontent.com/u/138525570?v=4" class="w-[200px] h-[200px] mb-2 rounded-full">
        <p>จัดทำโดย</p>
        <p>นายวรพล กลับศรี</p>
        <p>รหัสนิสิต 65022780</p>
        <p>คณะเทคโนโลยีสารสนเทศและการสื่อสาร</p>
        <p>สาขาวิศวกรรมซอฟต์แวร์</p>
    </div>
    <div>

    </div>
</footer>
